{% extends 'registration/new_login.html' %}
{% block title%}Create Account{% endblock %}

<div class="container">
	<div class="form">
		{% block content%}
		<h2>Create account</h2>
		<form method="post">
			{% csrf_token %}
			<div class="inputBox">
			{{ form }}
			</div>
			<div class="inputBox">
				<input type="submit" value="Create">
				<button class="cnclBtn"><a href="/">Cancel</a></button>
				<p class="forget">Already have an account? Login <a href="/login/">Here</a>.</p>
      </div>
		</form>
		{% endblock %}
	</div>
</div>
