<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css "href="{% static '/style/nav_bar.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static '/styles/sdf_base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/styles/project_table.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/styles/base_button.css' %}">
	<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<title>{% block title %}SDF{% endblock %}</title>
</head>
{% block content %}
<body>
	
	<!-- Navigation bar. -->
	<div class="topnav">
		<a class="active" href="/">Home</a>
		<a href="#">News</a>
		<a href="#">Contact</a>
		<a href="#">About</a>
	</div>
	
	<!-- Greetings. Login and registration buttons. -->
	<div class="left">
		<a class="text-field">
			<hr>
			<p>
				""? 
			</p>
		</a>
	</div>		
	<div class="right">
			<p style="color: black;">
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Dolorum uecati debitis atque laudantium voluptatem?
			</p>
		<div>
			<a href="/login/">
				<button class="button">
					<span class="button-content">LOGIN</span>
				</button>
			</a>
		</div>
	</div>
		<!-- </div> -->

	
</body>
{% endblock %}
</html>