<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/cssє" href="{% static '/style/nav_bar.css'%}">
	<link rel="icon" type="image/x-icon" href="../static/icons/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{% static '/styles/sdf_base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/styles/base_button.css' %}">
	<title>{% block title %}SDF{% endblock %}</title>
</head>
{% block content %}
<body>
	<!-- Navigation bar. -->
	<div class="topnav">
		<a class="active" href="/">Home</a>
		<a href="#">News</a>
		<a href="#">Contact</a>
		<a href="#">About</a>
	</div>
	<div class="text"><span>тут би мало щось бути але я ще не придумав...</span></div>
	<section>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<div class="square" style="--i:0;"></div>
			<div class="square" style="--i:1;"></div>
			<div class="square" style="--i:2;"></div>
			<div class="square" style="--i:3;"></div>
			<div class="square" style="--i:4;"></div>
			<div class="container">
				<h2>Ready to get started?</h2>
				<a href="/create-account/"><button type="button" class="startBtn">Start</button></a>
			</div>
		</div>
	</section>


</body>
{% endblock %}
</html>