<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}SDF{% endblock %}</title>
</head>
<body>
	<nav>
		<div>
			<li>
				<a href="/home">Home</a>
			</li>
		</div>
		{% if user.is_authenticated %}
		<div>
			<li>
				<a href="/logout">Logout</a>
			</li>
		</div>
		{% endif %}
		<div>
			<li>
				<a href="/login/">Login</a>
			</li>
		</div>
	</nav>
	<div>
		{% block content%}
		{% endblock %}
	</div>
</body>
</html>