{% extends 'home.html' %}
{% block title %}Board{% endblock title %}
{% block content %}
<div class="headBox">
  <div class="cardHeader">
    <h2>Project boards:</h2>
    <a href="#" data-bs-toggle="modal" data-bs-target="#createNew" class="btn">+ Create new</a>
  </div>
  <div class="modal fade" id="createNew" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="NewItem">Create new:</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Create new</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="boardContainer">
  <div class="board">
    {% for c in categories %}
    <div class="categoryBoard" id="category{{ c.id }}">
      <p>{{ c.category_title }}</p>
    </div>
    {% endfor %}
  </div>
  <div class="navigator">

    <div class="navBoard">
      {% for c in categories %}
      <div class="navButton btn-success"><a href="#category{{ c.id }}">{{ c.category_title}}</a></div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}

