{% extends 'projects.html' %}

{% load crispy_forms_filters %}
{% block title %}New project{% endblock title %}
{% block content%}
<div class="headBox">
    <div class="cardHeader">
        <h2>Create project:</h2>
    </div>
</div>
<div class="projectsField">
    <div class="projects">
        
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Create</button>
            <a href="/my-projects/"><button type="button" class="cancelbtn">Cancel</button></a>

        </form>
    </div>
</div>

{% endblock %}
