{% load crispy_forms_tags %}
{% block content %}
<div class="modal-content mdl">
	<div class="modal-header">
		<h5 class="modal-title" id="NewProject">Edit project:</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">
		<form hx-post="{{ request.path }}" method="post" class="form">
			{% csrf_token %}
			{{ form|crispy }}

			<div style="display: flex; justify-content: center; margin-top: 10px">
				<input type="submit" name="submit" value="Save" class="createProjectBtn" id="sumit-id-submit">
				<input type="button" name="delete" value="Delete" class="deleteProjectBtn" id="button-id-delete"
				       onclick="window.location.href='/my-projects/edit/delete-project/{{ form.instance.pk }}'">
			</div>
		</form>
	</div>
</div>
{% endblock %}