<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
{% block head %}
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/../static/styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/../static/styles/nav_bar.css">
	<link rel="stylesheet" type="text/css" href="/../static/styles/content.css">
	<link rel="stylesheet" type="text/css" href="/../static/styles/boards.css">
	<link rel="stylesheet" type="text/css" href="/../static/styles/profile_info.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'icons/favicon.ico' %}">
	{% block extrahead %}{% endblock %}
	<title>{% block title %}Home{% endblock title %}</title>
</head>
{% endblock head %}
<body>
	<div class="sdfContainer">
		<div class="navigation">
			<ul>
				<li>
					<a href="#">
						<span class="icon"><ion-icon name="logo-python"></ion-icon></span>
						<span class="title">SDF</span>
					</a>
				</li>
				<li>
					<a href="/home">
						<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
						<span class="title">Home</span>
					</a>
				</li>
				<li>
					<a href="/my-projects/">
						<span class="icon"><ion-icon name="folder-open-outline"></ion-icon></span>
						<span class="title">My projects</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="icon"><ion-icon name="rocket-outline"></ion-icon></span>
						<span class="title">Sprints</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- Main -->
		<div class="main">
			<div class="topbar">
				<div class="toggle">
					<ion-icon name="menu-outline"></ion-icon>
				</div>
				<!-- search -->
				<div class="search">
					<label>
						<input type="text" placeholder="Search here, but later :)">
						<ion-icon name="search"></ion-icon>
					</label>
				</div>
				<!-- user -->
				<div class="user">
					{% if user.extend_profile.profile_photo %}
            <img src="{{ user.extend_profile.profile_photo.url }}" alt="user" onclick="dropMenu()">
          {% else %}
            <img src="/../static/avatar.jpg" alt="default user image" onclick="dropMenu()">
          {% endif %}
				</div>
				<!-- user menu -->
				<div class="subMenuWrap" id="subMenuId">
					<div class="subMenu">
						<div class="userInfo">
							{% if user.extend_profile.profile_photo %}
                <img src="{{ user.extend_profile.profile_photo.url }}" alt="user" onclick="dropMenu()">
							{% else %}
                <img src="/../static/avatar.jpg" alt="default user image" onclick="dropMenu()">
              {% endif %}
							<h3>{{ user.extend_profile.first_name }}</h3>
						</div>
						<hr>
						<a href="/edit-user-info/" class="subMenuLink">
							<span class="icon"><ion-icon name="person-outline"></ion-icon></span>
							<p>Edit Profile</p>
							<span> > </span>
						</a>
						<a href="#" class="subMenuLink">
							<span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
							<p>Settings</p>
							<span> > </span>
						</a>
						<a href="/logout/" class="subMenuLink">
							<span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
							<p>Logout</p>
							<span> > </span>
						</a>
					</div>
				</div>
			</div>


			{% block content %}

			<div class="cardBox">
				<div class="cardB">
					<div>
						<div class="numbers">{{ user_projects }}</div>
						{% if user_projects > 1%}
						<div class="cardName">Projects created</div>
						{% else %}
						<div class="cardName">Project created</div>
						{% endif %}
					</div>
					<div class="iconBx">
						<ion-icon name="create-outline"></ion-icon>
					</div>
				</div>
				<div class="cardB">
					<div>
						<div class="numbers">{{ projects }}</div>
						<div class="cardName">Participation in projects</div>
					</div>
					<div class="iconBx">
						<ion-icon name="people-circle-outline"></ion-icon>
					</div>
				</div>
				<div class="cardB">
					<div>
						<div class="numbers">{{ tasks }}</div>
						<div class="cardName">Tasks assigned to you</div>
					</div>
					<div class="iconBx">
						<ion-icon name="pricetag-outline"></ion-icon>
					</div>
				</div>
				<div class="cardB">
					<div>
						<div class="numbers">0</div>
						<div class="cardName">Dashboard in progress</div>
					</div>
					<div class="iconBx">
						<ion-icon name="eye-outline"></ion-icon>
					</div>
				</div>
			</div>
			<!-- details list -->
			<div class="details">
				<div class="recentOrders">
					<div class="cardHeader">
						<h2>Logs</h2>
						<a href="#" class="btn">View all</a>
					</div>
					<table>
						<thead>
						<tr>
							<td>Name</td>
							<td>User</td>
							<td></td>
							<td>Status</td>
						</tr>
						</thead>
						<tbody>
							<tr>
								<td>Logger in progress</td>
								<td></td>
								<td></td>
								<td><span class="status delivered">In progress</span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- Users -->
				<div class="recentMembers">
					<div class="cardHeader">
						<h2>Members</h2>
						<a href="#" class="btn">View all</a>
					</div>
					<table>
						{% for u in users %}
						<tr>
							<td ><div class="imgBx"><img src="{{ u.extend_profile.profile_photo.url }}" alt="avatar"></div></td>
							<td><h4>{{ u.extend_profile.first_name }} {{ u.extend_profile.last_name }}<br><span>{{ u.extend_profile.city }}</span></h4></td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			{% endblock %}

		</div>
	</div>


	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<script src="/../static/js/bootstrap.min.js"></script>
	<script src="/../static/js/jquery.min.js"></script>
	<script src="/../static/js/htmx.min.js"></script>
	<script src="/../static/js/dialog.js"></script>
	<script>
			// Dropdown menu
			let subMenuId = document.getElementById('subMenuId');

			function dropMenu() {
					subMenuId.classList.toggle("active");
			}
			//MenuToggle
			let togSideBar = document.querySelector('.toggle');
        let navSideBar = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        togSideBar.onclick = function(){
            navSideBar.classList.toggle('active');
            main.classList.toggle('active')
        }

        // add hovered class in selected list item
        let list = document.querySelectorAll('.navigation li')
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
        item.addEventListener('mouseover', activeLink));

			// Date check
			const dueDateElements = document.querySelectorAll('.cardDueDate');

			dueDateElements.forEach(element => {
        const dueDate = new Date(element.innerText);
        const now = new Date();
        const diffInMs = dueDate - now;
        const diffInDays = diffInMs / (1000 * 60 * 60 * 24);

        if (diffInDays < 1) {
          element.style.color = 'red';
        }
			});
	</script>
</body>
