{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %}My projects{% endblock title %}

<body>
{% block content%}
<div class="headBox">
	<div class="cardHeader">
		<h2>Projects:</h2>
		<a href="#" data-bs-toggle="modal" data-bs-target="#createNewProject" class="btn">+ Create new project</a>
	</div>
	<div class="modal fade mdl" id="createNewProject" data-bs-backdrop="createNewProject" data-bs-keyboard="false" tabindex="-1"
	     aria-labelledby="staticBackdropLabel" aria-hidden="false">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
			<div class="modal-content mdl">
				<div class="modal-header">
					<h5 class="modal-title" id="NewProject">Create new project:</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="form" method="post">
						<p>Note!</p>
						{% csrf_token %}

						{{ form|crispy }}
						<div style><button type="submit" class="btn-success">Create</button></div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="projectsField">
	<div class="projects">

		<table>
			<thead>
			<tr>
				<td>Name</td>
				<td>Type</td>
				<td>Create date</td>
				<td>Lead</td>
				<td>Status</td>
				<td>Setting</td>
			</tr>
			</thead>


			<tbody>
			{% for p in projects %}
				<tr>
					<td><a href="/my-projects/{{p.id}}/board/">{{p.project_title}}</a></td>
					<td>{{ p.project_type }}</td>
					<td>{{ p.create_date }}</td>
					<td>
						<div style="display: inline-flex; justify-content: space-between">
							<div class="lead">
								<img src="{{p.project_lead.extend_profile.profile_photo.url }}" alt="avatar">
							</div>
							{{ p.project_lead.extend_profile.first_name }} {{ p.project_lead.extend_profile.last_name }}
						</div>
					</td>
					<td><span class="status active">Active</span></td>
					<td><a href="/my-projects/edit/{{ p.id }}" class="btnSetting">Edit</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
</body>
