{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% block title %}My projects{% endblock title %}

<body>
{% block content%}
<div class="headBox">
	<div class="cardHeader">
		<h2>Projects:</h2>
		<button data-bs-toggle="modal" data-bs-target="#createNewProject" class="createProjectBtn" title="Create new project">+</button>
	</div>
	<div class="modal fade mdl" id="createNewProject" data-bs-backdrop="createNewProject" data-bs-keyboard="false" tabindex="-1"
	     aria-labelledby="staticBackdropLabel" aria-hidden="false">
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
			<div class="modal-content mdl">
				<div class="modal-header">
					<h5 class="modal-title" id="NewProject">Create new project:</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="form" method="post">
						<p>Note! To add more detailed information, use the Edit function in the list of your projects after creating them.</p>
						{% csrf_token %}

						{{ form|crispy }}
						<div style="display: flex; justify-content: center; margin-top: 10px"><button type="submit" class="createProjectBtn">Create</button></div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="projectsField">
	<div class="projects">

		<table>
			<thead>
			<tr>
				<td>Name</td>
				<td>Type</td>
				<td>Last update</td>
				<td>Lead</td>
				<td>Status</td>
				<td>Setting</td>
			</tr>
			</thead>
			<tbody hx-get="{% url 'projects_list' %}" hx-trigger="load, projectsListChanged from:body">

			</tbody>
		</table>
		<div id="modal" class="modal fade" tabindex="-1">
      <div id="dialog" class="modal-dialog modal-dialog-centered" hx-target="this">
      </div>
		</div>
	</div>
</div>
{% endblock %}
</body>
