.headBox {
  position: relative;
  width: 100%;
  padding: 10px 30px;
  display: grid;
  grid-gap: 30px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
}
.cardHeader h2 {
  font-weight: 600;
  color: rgb(91, 0, 128);
}
.boardContainer {
  display: grid;
  justify-content: start;
  grid-template-columns: 5fr 1fr;
  width: 100%;
  min-height: 100vh;
}
.boardContainer .board {
  position: relative;
  display: grid;
  min-height: 100vh;
}
.boardContainer .board .categoryBoard {
  position: relative;
  display: grid;
  background: var(--white);
  margin: 0 20px 20px 20px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.navigator {
  position: relative;
  width: 100%;
  min-height: auto;
}
.navBoard {
  position: sticky;
  display: grid;
  align-content: space-between;
  height: 500px;
  width: 150px;
  background: var(--white);
  margin: 0 20px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.navButton {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.boardContainer .board .categoryBoard {
  position: relative;
  display: grid;
  min-height: 600px;
  background: var(--white);
  margin: 0 30px 30px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}























.boardHeader {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.boardField {
  position: relative;
  width: 100%;
  padding: 23px;
  display: grid;
  grid-template-columns: repeat(7, 400px);
  overflow-x: auto;
  grid-gap: 30px;
  scrollbar-width: thin;
}
.boardField .board {
  position: relative;
  display: grid;
  height: 600px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.boardField .board .taskBoard {
  position: relative;
  display: table-cell;
  background: rgba(162, 160, 163, 0.3);
  height: 450px;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
  overflow-y: scroll;
  /*box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);*/
  border-radius: 20px;
}

/* Task style */
.boardField .board .taskBoard .task {
  position: relative;
  min-height: 150px;
  background: var(--white);
  display: flex;
  padding: 10px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.boardField .board .taskBoard::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.boardField .board .taskBoard .task .grabber {
  width: 5px;
  left: 5px;
  top: 5px;
  bottom: 5px;
  height: auto;
}
.boardField .board .taskBoard .task .summary {
  width: 280px;
  height: auto;
  padding: 5px;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}
.boardField .board .taskBoard .task .iconBx {
  font-size: 1.5em;
  color: black;
  bottom: 0;
  left: 0;
}
.boardField .board .taskBoard .task .date {
  position: relative;
  padding: 5px;
}
.boardField .board .taskBoard .task .status {
  position: relative;
  padding: 5px;
}