.headBox {
  position: relative;
  width: 100%;
  padding: 10px 0 0 30px;
  display: grid;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
}

.boardContainer {
  display: grid;
  justify-content: start;
  width: 100%;
  margin-right: 20px;
  height: auto;
}
.boardContainer .board {
  position: relative;
  display: grid;
  width: 100%;
  height: auto;
}
.boardContainer .board .categoryBoard {
  position: relative;
  display: grid;
  width: auto;
  background: var(--white);
  margin: 20px 20px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.categoryBoard .cardHeader {
  display: flex;
  justify-content: space-between;
}
.cardHeader p {
  font-weight: 600;
  color: var(--blue);
}

.taskField {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.taskField > * {
  width: calc(20% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.card {
  width: 215px;
  height: auto;
  display: grid;
  justify-content: space-between;
  margin: 10px 5px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.9);
  z-index: 999;
}
.cardHead {
  height: 40px;
  background: linear-gradient(to right, #43aaf5, #020994);
  text-align: center;
  color: white;
}

.cardHead h3 {
  margin: 0;
  height: auto;
}

.cardBody {
  width: 215px;
  height: 200px;
  padding: 5px;
  text-align: center;
}

.cardPriority {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 30px;
  text-align: center;
}

.cardDueDate {
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
}

.cardAssignedTo {
  width: 100%;
  font-size: 16px;
  margin: 15px 0;
  text-align: center;
}

. {
  font-size: 12px;
  width: 100%;
  margin: 0 auto;
}

.cardStatus {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 30px;
  text-align: center;
}


.cardFooter {
  width: 100%;
  /*margin-top: 10px;*/
  text-align: center;
  background-color: #0a53be;
}

.cardFooter a {
  color: #fff;
  display: block;
  padding: 16px;
  text-decoration: none;

}

/*.task .grabber {*/
/*  width: 5px;*/
/*  left: 5px;*/
/*  top: 5px;*/
/*  bottom: 5px;*/
/*  height: auto;*/
/*}*/
/* .task .summary {*/
/*  width: 280px;*/
/*  height: auto;*/
/*  padding: 5px;*/
/*  overflow-wrap: break-word;*/
/*  text-overflow: ellipsis;*/
/*}*/
/*.task .iconBx {*/
/*  font-size: 1.5em;*/
/*  color: black;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*}*/
/*.task .date {*/
/*  position: relative;*/
/*  padding: 5px;*/
/*}*/
/*.task .status {*/
/*  position: relative;*/
/*  padding: 5px;*/
/*}*/
