/* Home page cards */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background-color: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blue);
}
.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 1.5em;
  color: var(--black2)
}
.cardBox .card:hover {
  background: linear-gradient(to top, #1db6ee, #450160);
  transform: scale(1.1);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}
.details .recentOrders {
  position: relative;
  display: grid;
  align-content: start;
  min-height: auto;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  columns: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders tbody tr:hover {
  background: rgba(0,0,0,0.08);
  border-bottom: none;
  transform: scale(1.02);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.details .recentOrders table tr td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.recentMembers {
  position: relative;
  display: grid;
  align-content: start;
  min-height: auto;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentMembers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.recentMembers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentMembers table tr {
  display: flex;
  justify-content: start;
}
.recentMembers table tr:hover {
  background: rgba(0,0,0,0.08);
  transform: scale(1.02);
  opacity: 0.9;
}
.recentMembers table tr td {
  padding: 12px 10px;
}
.recentMembers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.recentMembers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}

/* My projects page card */
.projectsField {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
}

.projectsField .projects {
  position: relative;
  display: grid;
  min-height: 100%;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardHeader .createProjectBtn {
  outline: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right, #1db6ee, #450160);
  border: none;
  border-radius: 50px;
  width: 50px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 1.9em;
  letter-spacing: 1px;
  transition: transform 0.3s, opacity 0.3s;
}

.cardHeader .createProjectBtn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.projectsField table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.projectsField table thead td {
  font-weight: 600;
}

.projectsField a {
  text-decoration: none;
  cursor: pointer;
}

.projectsField .projects table tr {
  columns: var(--black1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.projectsField .projects table tr a {
  color: var(--blue);
}

.projectsField .projects table tr:last-child {
  border-bottom: none;
}
.projectsField .projects form textarea {
  max-height: 100px;
}
/* Create project modal window */
.mdl {
  border-radius: 20px;
}
.modal-body form input,
.modal-body form select,
.modal-body form textarea {
  border-radius: 20px;
}
.modal-body form textarea {
  max-height: 100px;
}
.modal-body form textarea::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Projects table */
.projectsField .projects tbody tr:hover {
  background: rgba(0,0,0,0.08);
  transform: scale(1.01);
  opacity: 0.9;
  border-bottom: none;
}

.projectsField .projects tbody tr:hover .btnSetting:hover {
  background: white;
}

.projectsField .projects table tr td {
  padding: 10px;
}

.projectsField .projects table tr td:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.projectsField .projects table tr td:last-child {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  width: 10%;
}

.projectsField .projects table tr td:nth-child(2) {
  text-align: center;
  width: 10%;
}

.projectsField .projects table tr td:nth-child(3) {
  text-align: center;
  width: 15%;
}

.projectsField .projects table tr td:nth-child(4) {
  text-align: start;
  width: 20%;
}
.projectsField .projects table tr td:nth-child(5) {
  text-align: center;
  width: 10%;
}
.lead {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.lead img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status.active {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.btnSetting {
  position: relative;
  padding: 1px 10px;
  background: rgba(162, 160, 163, 0.3);
  text-decoration: none;
  color: rgb(10, 10, 10);
  border-radius: 6px;
  border: 1px solid rgba(10, 10, 10, 0.2);
}

/* Create project form */
.createProjectBtn {
  outline: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to top, #1db6ee, #450160);
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  margin: 0 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s, opacity 0.3s;
}

.createProjectBtn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.deleteProjectBtn {
  outline: none;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to top, #f34545, #880101);
  border: none;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  margin: 0 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: transform 0.3s, opacity 0.3s;
}

.deleteProjectBtn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
/* media */
@media (max-width: 991px) {
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.delivered {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
}