@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
:root
{
  --blue: #287bff;
  --gradient: linear-gradient(to top right, #5b9fdf, #2a0079);
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* sidebar */
.sdfContainer {
  position: relative;
  width: 100%;
  
}
.navigation {
  position: fixed;
  width: 70px;
  height: 100%;
  background: url('../img/navbarback.jpeg') no-repeat center center fixed;
  background-size: 100% 100%;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 300px;
}
.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 0;
}
.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a{
  position: relative;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  padding-top: 5px;
  position: relative;
  display: block;
  min-width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {

  font-size: 1.9em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: '';
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
/* main*/
.main {
  position: absolute;
  width: calc(100% - 70px);
  left: 70px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 300px);
  left: 300px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
} 
.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid black;
}
.search label ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2em;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
}
.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subMenuWrap {
  position: absolute;
  top: 60px;
  right: 5px;
  width: 320px;
  max-width: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  background: var(--white);
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 99999;
}
.subMenuWrap.active {
  max-width: 400px;
}
.subMenuWrap .subMenu {
  background: #fff;
  padding: 20px;
  margin: 10px;
}
.subMenu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.subMenuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}
.subMenuLink p {
  width: 100%;
  margin-bottom: 0;
  transition: transform 0.5s;
}
.subMenuLink:hover p {
  transform: translateX(5px);
}
.subMenuLink span {
  font-size: 22px;
  transition: transform 0.5s;
}
.subMenuLink:hover span {
  transform: translateX(5px);
}
.subMenuLink ion-icon{
  padding-top: 7px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
}
.userInfo {
  display: flex;
  align-items: center;
}
.userInfo h3 {
  font-weight: 600;

}
.userInfo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.modal-dialog-centered {
  justify-content: center;
}

/*  */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 290px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .user {
    min-width: 40px;
  }
  .lead {
    min-width: 25px;
  }
  .navigation {
    width: 80%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    position: fixed;
    right: 0;
    left: inherit;
    color: var(--white);
  }
}
