@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu, sans-serif;
}
body {
    overflow: hidden;
}
/* Havigation bar for start page*/
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.topnav a:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, 1);
}

.topnav a.active {
    background-color: black;
    color: white;
}
.text {
    position: absolute;
    z-index: 9999;
    color: #fff;
    top: 380px;
    left: 440px;
}

section {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color {
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1) {
    top: -300px;
    width: 1500px;
    height: 900px;
    background: #3a0241;
}
section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #04b5f6;
}
section .color:nth-child(3) {
    bottom: 50px;
    right: 50px;
    width: 600px;
    height: 600px;
    background: #7e4ce5;
}
.box {
    position: relative;
}
.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%, 100%
    {
        transform: translateY(-40px);
    }
    50%
    {
        transform: translateY(40px);
    }
}
.box .square:nth-child(1){
    top: 50px;
    right: 300px;
    width: 100px;
    height: 100px;
    z-index: 2;

}
.box .square:nth-child(2){
    top: 450px;
    left: -100px;
    width: 120px;
    height: 120px;
}
.box .square:nth-child(3){
    bottom: 70px;
    right: 60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4){
    top: 240px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.box .square:nth-child(5){
    top: 80px;
    left: 160px;
    width: 60px;
    height: 60px;
    z-index: 2;
}

.container {
    position: relative;
    width: 350px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.startBtn {
    width: 100%;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    background: #fff;
    max-width: 100px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    letter-spacing: 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.startBtn {
    color: #a6a6a6;
    text-decoration: none;
}
.container h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    z-index: 3;
}